<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><link href="style.css" rel="stylesheet" type="text/css" /><title>Title</title></head>
<body>
  <div id='header'>
      <h1>header</h1>
  </div>
  <div id='sidebar'>
      <h1>sidebar</h1>
  </div>
  <div id='main'>
      <h1>main</h1>
      <ul>
      <li>http://troywill.com/i4y/css/css.html</li>
      <li>http://troywill.com/i4y/css/style.css</li>
      <li><a href='http://www.smashingmagazine.com/2007/01/12/free-css-layouts-and-templates/'>Free CSS layouts</a></li>
      </ul>
  </div>
  <div id='footer'>
    <h1>footer</h1>
      <p><a href="http://validator.w3.org/check?uri=referer">XHTML validator</a><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS validator</a></p>
  </div>
  </body>

</html>
